name: Release

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - canary
      - next
      - next-major
      - '[0-9]+.x'

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      issues: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: codfish/actions/setup-node-and-install@v3
        with:
          node-version: lts/*

      - name: validate & build before release
        run: |
          npm install --no-save
          npm run lint
          npm run typecheck
          npm run build
        env:
          CI: true

      - name: semantic release
        uses: codfish/semantic-release-action@upgrades
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
